html
    head
        include includes/head.pug
        link(rel="stylesheet", href="./style/home.css")
    body
        include includes/header.pug
        p.btnFilter#btnilter(onclick='Filter()') Filter
        .filter#divFilter
            form(method="GET") 
                .closed#closed(onclick='Closed()'): img(src="./closed.png", alt="Close")
                label Author name 
                input(type="text" name='name')

                label Minumum price
                input(type="text", name="min")
                label Maximum price
                input(type="text", name="max")

                button(type="submit") Filter
        .divItems
            each item, index in itemList
            
                .divItem
                    .photo-container
                        img.photo(src=item.photo alt="photoItem")
                    p.title #{item.title}
                    p.descriptions #{item.descriptions}
                    p.autor Author #{item.authorLogin}
                    .divPrice 
                        p.price #{item.price}
                        p.currency #{item.currency}
                    a.link(href=`item?id=${item.id}`) More information
        script(src="./home.js") 