html(lang="en")
    head
        include includes/head.pug
        link(rel="stylesheet", href="/style/item.css")
    body
        include includes/header.pug

        .orderContainer
            .photoItem
                .photo: img(src=item.photo alt="Product Image")
            .product-info
                h1.orderTitle #{item.title}
                p.descriptions #{item.descriptions}
                p.author Author: #{item.authorLogin}
                .divPrice 
                    span.price #{item.price}
                    span.currency #{item.currency}
                a.order-button(href='#' onclick='OrderForm()') Make an order

            form.orderForm#orderForm(action="/submit-order" method="POST")
                .closed#closed(onclick='Closed()'): img(src="./closed.png", alt="Close")

                label(for="name") Name:
                input.nameOrder#name(type="text" name="name" required)
                
                label(for="email") Email:
                input.emeilOrder#email(type="email" name="email" required)
                
                label(for="phone") Phone number:
                input.phoneOrder#phone(type="tel" name="phone" required)
                
                label(for="address") Delivery address:
                input.addressOrder#address(type='text' name="address" required)
                
                label(for="comments") Comments to the order:
                textarea.commentsOrder#comments(name="comments")
                
                button.buttonOrder(type="submit") Make an order

        script(src="./item.js")