html
    head
        include includes/head.pug
        link(rel="stylesheet", href="./style/myAds.css")
    body
        include includes/header.pug

        .my-ads-container
            each item, index in itemList
                .divItem
                    .photo-container
                        img.photo(src=item.photo alt="photoItem")
                    .item-content
                        p.title #{item.title}
                        p.descriptions #{item.descriptions}
                        .divPrice 
                            p.price #{item.price}
                            p.currency #{item.currency}
                        a(href=`item?id=${item.id}`): button.link More information
                        .item-actions
                            a(href=`/editItem?id=${item.id}`): button.edit-btn Edit
                            form.delete-form(action=`/deleteItem?id=${item.id}` method="POST")
                                button.deleteBtn(type="submit") Delete

        .myAds
            a(href='/addItem') Create a new item